<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019219500523-gaju804d96hf5uoq4jq04vhkfdivln6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019219500523-gaju804d96hf5uoq4jq04vhkfdivln6r</string>
	<key>API_KEY</key>
	<string>AIzaSyAjuND1EIpDkT7dzVZlJDa1pPMqqAc3WQo</string>
	<key>GCM_SENDER_ID</key>
	<string>1019219500523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kyohei.FirebaseUI-Sample</string>
	<key>PROJECT_ID</key>
	<string>fir-ui-sample-8eb97</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-ui-sample-8eb97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019219500523:ios:e1a3df3ac6b0a1eb328dae</string>
</dict>
</plist>